<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Assistant</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
                <script src="js/side nav.js"></script>
                <script src="js/init.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-xlarge.css" />
            
        </noscript>
        <link rel="stylesheet" href="css/booking.css"/>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="">
				<h1><a href="/main">Personal Assistant</a></h1>
				<nav id="nav">
					<ul>
                                            <li><a href="/main">Home</a></li>
						
					</ul>
				</nav>
			</header>
  <!-- ----body------- -->
    <div id="mySidebar" class="sidebar" style="width: 0px;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a class="sidenavcontent" href="activity.html">Activity Tracker</a>
            <a href="/bookings" class="sidenavcontent">Bookings</a>
            <a href="/taskm" class="sidenavcontent">Task Manager</a>
            <a href="lastpage.html" class="sidenavcontent">Tracker</a>
            <a href="/logout" class="sidenavcontent">Log Out</a>
          </div>

          <div id="main" style="position: absolute; right: 0px; ">
            <button class="openbtn" onclick="openNav()"><img src="images/ham.png" ></button>
          </div>  
            <div class="container" style="width: 50%;">
                <form   action="/<%=name%>" method="POST" autocomplete="off">
                    <label class="<%=err%>"><%=mssg%></label><br/>
                    <img class="special" src="./images/<%=name%>.png" style="width: 30%;">
                    <h1><%=heading%></h1>
                    <label  for="eventname">Name of <%=name%></label><input type="text" name="eventname" placeholder="Name of <%=name%>"/><br/>
                    <label  for="Date">Date of <%=name%></label><input type="date" name="date" required/><br/><br>
                    <br><label for="eventdesc"><b>Description</b></label>
                    <textarea name="eventdesc" placeholder="Description of <%=name%> " required></textarea><br/>
                    
                    <button class="button small" type="submit" name="formname" value="<%=heading%>">Submit</button>
                </form>
            </div>
		<!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row double">
                    <div class="6u">
                        <div class="row collapse-at-2">
                            <div class="6u">
                                <h3>Other links</h3>
                                <ul class="alt">
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="6u">
                        <h2>Place Holder Text</h2>
                        <p>Place Holder desc</p>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
                <ul class="copyright">
                    <li>&copy; Personal Assistant .2020.</li>
                    <li>Design: <a href="#">Placeholder</a></li>
                    <li>Images: <a href="#">Placeholder</a></li>
                </ul>
            </div>
        </footer>

</body>
</html>